body{
    margin: 0;
    padding: 0;
}
.global-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 55px;
    min-width: 900px;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
}
.classify{
    padding-left: 3%;
    padding-right: 3%;
    height: 55px;
    top: 0;
}
.top-nav-list{
    top: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: 55px;
}
.item-list{
    position: relative;
    height: 55px;
    width: 10%;
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    margin: 0 10px 0 10px;
    padding: 0;
    /*堆叠层级，层级越高表示越在上层画布*/
    z-index: 1;
}
#logo{
    padding-left: 5%;
}
#logo-png{
    width: 30px;
    height: 30px;
}
#set-png{
    width: 25px;
    height: 25px;
}
.item-link{
    height: auto;
    padding: 0 20% 0 20%;
}
.item-link-text{
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: 0;
    top: 15px;
    color: rgba(255,255,255,0.8);
}
.item-link-text:hover{
    cursor: pointer;
    color: white;
}
.menu{
    margin-top: 35px;
    width: auto;
    height: auto;
    display: none;
    z-index: 2;
}
.child-menu{
    width: 120px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 5px 0 5px 15px;
}
.menu-item{
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.child-menu-pic{
    width: 20px;
    height: 20px;
    float: left;
}
.child-menu-text{
    margin-bottom: 2px;
    padding-left: 5px;
    color: #515151;
}
.second-menu{
    text-decoration: none;
}
.main{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 55px;
}
.login-region{
    width: 100%;
    min-height: 600px;
    padding-top: 50px;
}
.login-header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 80px 90px;
}
.register-header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 80px 55px;
}
.login-form{
    position: absolute;
    margin-top: 30px;
    margin-left: 40%;
    width: 300px;
}
.login-input{
    border: 0;
    border-bottom: 1px solid #a2a2a2;
    width: 250px;
    height: 3rem;
    padding: 0;
    margin-bottom: 30px;
    outline: none;
    font-size: 16px;
    color: #a2a2a2;
}
.login-button{
    width: 250px;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    background-color: #4267b2;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    outline:none;
}
.login-button:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
.register-in-login{
    margin-top: 20px;
}
.click-to-register{
    text-decoration: none;
    width: auto;
    color: #06c;
}

.main-exhibiton{
    position: absolute;
    top: 55px;
    width: 100%;
    padding-bottom: 50px;
}
.zouMaDeng{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.exhibit-pic{
    width: 450px;
    height: 450px;
}
.good{
    list-style-type: none;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.good-picture{
    width: 400px;
    height: 400px;
}
.underline{
    height: 26px;
}
.price{
    float: left;
    margin-left: 150px;
}
.btn{
    width: 20px;
    height: 20px;
    margin-left: 40%;
}
.btn:hover{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.price{
    font-size: 18px;
}
.good-detail{
    position: absolute;
    top: 55px;
    width: 100%;
}
.good-detail-pic{
    float: left;
    width: 800px;
    height: 800px;
}
.detail-picture{
    float: left;
    width: 600px;
    height: 600px;
    margin: 30px 0 0 30px;
    border: 0;
}
#good-title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 100px;
}
#good-value{
    font-weight: 600;
    font-size: 20px;
    color: dodgerblue;
    margin-top: 30px;
}
#good-introduce{
    margin-top: 30px;
    font-size: 14px;
}
.purchase-button{
    border: 0;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    margin-top: 100px;
    background-color: #0070c9;
    font-size: 18px;
    font-weight: 600;
    color: white;
    outline: none;
}
.purchase-button:hover{
    background-color: #42a1ec;
    cursor: pointer;
}

/*
**购物车css
 */
.cart{
    position: absolute;
    top: 55px;
    width: 70%;
    min-width: 750px;
    float: left;
}
.cart-header{
    width: 90%;
    height: 40px;
    margin: 30px 0 0 50px;
    min-width: 750px;
    border-bottom: 1px solid #a2a2a2;
}
.header-pic{
    float: left;
    height: 40px;
}
.header-text{
    float: left;
    height: 40px;
    margin-left: 10px;
}
.header-price{
    float: left;
    width: 10%;
    margin-left: 63%;
}
.cart-header-pic{
    width: 30px;
    height: 30px;
}
.cart-header-text{
    font-weight: 600;
    font-size: 20px;
}
#cart-num{
    margin-left: 8%;
}
.cart-detail{
    width: 90%;
    height: auto;
    min-width: 750px;
    margin: 20px 0 0 50px;
    min-height: 130px;
    border-bottom: 1px solid #a2a2a2;
    vertical-align: middle;
}
.cart-detail-pic{
    float: left;
    width: 120px;
    height: 120px;
}
.item-pic{
    width: 120px;
    height: 120px;
}
.cart-detail-text{
    float: left;
    width: 55%;
    margin-left: 5%;
    margin-top: 20px;
    vertical-align: center;
}
.item-name{
    font-size: 20px;
    display:inline-block;
    width: 100%;
    word-wrap: break-word;
}
.cart-detail-price{
    float: left;
    width: 10%;
    margin-top: 20px;
    vertical-align: middle;
}
.item-price{
    font-size: 20px;
    font-weight: 600;
    color: #B12704;
}
.cart-detail-num{
    float: left;
    width: auto;
    margin-left: 10%;
    margin-top: 20px;
    vertical-align: middle;
}
.item-num{
    font-size: 20px;
    font-weight: 500;
    color: #0070c9;
}
.cart-check{
    position: fixed;
    top: 115px;
    left: 75%;
    width: 20%;
    height: auto;
    float: left;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
}
.check-text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.total-price{
    font-weight: 600;
    font-size: 24px;
    font-family: helvetica;
}

.check-button{
    text-align: center;
}
.check-button-detail{
    width: 70%;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 20px;
    outline:none;
}
.check-button-detail:hover{
    cursor: pointer;
    background-color: #42a1ec;
}
.money{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.clearCart{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.clear-button-detail{
    width: 70%;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 20px;
    outline:none;
}
.clear-button-detail:hover{
    cursor: pointer;
    background-color: #FF0000;
}
.clear{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/*
**订单css
 */
.order{
    position: absolute;
    top: 55px;
    width: 80%;
    min-width: 1100px;
    float: left;
}
.order-header{
    width: 100%;
    margin: 30px 0 0 50px;
    min-width: 1100px;
    border-bottom: 1px solid #a2a2a2;
    vertical-align: middle;
}
.order-header-pic{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.order-header-text{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
#order-logo{
    margin-right: 30px;
}
#order-price{
    margin-left: 45%;
}
#order-num{
    margin-left: 10%;
}
#order-time{
    margin-left: 10%;
}
.order-detail{
    width: 100%;
    height: auto;
    min-width: 1100px;
    margin: 20px 0 0 50px;
    min-height: 130px;
    border-bottom: 1px solid #a2a2a2;
    vertical-align: middle;
}
.order-detail-pic{
    float: left;
    width: 130px;
    height: 130px;
}
.item-pic{
    width: 120px;
    height: 120px;
}
.order-detail-text{
    float: left;
    width: 45%;
    margin-left: 30px;
    margin-top: 19px;
}
.item-name{
    font-size: 18px;
    display:inline-block;
    width: 100%;
    word-wrap: break-word;
}
.order-detail-price{
    float: left;
    width: auto;
    margin-top: 20px;
    vertical-align: middle;
}
.item-price{
    font-size: 20px;
    font-weight: 600;
    color: #B12704;
}
.order-detail-num{
    float: left;
    width: auto;
    margin-left: 10%;
    margin-top: 20px;
    vertical-align: middle;
}
.item-num{
    font-size: 20px;
    color: #0070c9;
}
.order-detail-time{
    float: left;
    width: auto;
    margin-left: 8%;
    margin-top: 20px;
    vertical-align: middle;
}
.item-time{
    font-size: 18px;
    color: #515151;
}

/*
**轮播图css
*/
#container{
    position: relative; /*为了给左右按钮 和小圆点定位*/
}
#container-good{
    position: relative;
}
#container:hover .arrow {   /*鼠标移入: id=arrow的元素显示*/
    display: block;
}
#container-good:hover .arrow{
    display: block;
}
#banner{
    position: absolute;
}
#banner li{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;   /*将li标签左浮动*/
}
#banner li img{
    /*将img的属性从inline 改为black为了清除图片之间的间隙*/
    display: block;
    width: 500px;
    height: 500px;
}
#buttons{
    position: absolute; /*小圆点绝对定位*/
    height: 10px;
    width: 100px;
    bottom: 0;
    left: 45%;  /*左右居中显示*/
    z-index: 10;
}
#buttons span{
    cursor: pointer;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%; /*设置成圆*/
    background: #333;
    margin-right: 5px;
}
/*对应点亮的小圆点：成橘色*/
#buttons .on{
    background: orangered;
}
/*左右按钮*/
.arrow{
    cursor: pointer;
    display: none;  /*设置暂时不显示*/
    line-height: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;  /*设置定位*/
    z-index: 20;
    top: 50%;
    color: #fff;
}
.left-arrow{
    width: 40px;
    height: 40px;
}
.right-arrow{
    width: 40px;
    height: 40px;
}
#prev{
    left: 0;
}
#next{
    right: 0;
}